//fonts
$font:'Open Sans', sans-serif;
$fonth: 'Source Sans Pro', sans-serif;
//colors
$hedline: #464646;
$text-color: #81868e;

//Social Media Colors
$gribbble:#ea4c89;
$faceboook:#3b5998;
$Flickr:#ff0084;
$Google:#517fa4;
$Instagram:#517fa4;
$LinkedIn:#0077b5;
$Medium:#00ab6b;
$Pinterest:#bd081c;
$Twitter:#55acee;
$YouTube:#b31217;


//else
