.contact {
  background: url("../images/contact.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;

  .head-text {
    .head-text__line {
      color: #fff;
    }
  }

  .button__wrapp {
    padding-bottom: 50px;
  }

  .contact__btn {
    font-family: $font;
    text-decoration: none;
    text-align: center;
    background: transparent;
    color: #fff;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 2rem;
    padding: 5px 20px;
    transition: all .4s;

    &:hover{
      color: #000;
      background: #fff;
    }
  }
}
