.portfolio {
  background: #f3f3f3;
  padding-bottom: 100px;
  
  .container {

    .filters {
      margin: 50px auto;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-around;
      padding: 0 30%;

      li {
        transition: all 0.5s;
        border-bottom: 2px solid transparent;
        position: relative;
      }

      .button__wrapp {
        font-family: $font;
        text-decoration: none;

        &:before{
          content: "";
          width: 40px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          height: 2px;
          background: transparent;
          bottom: -10px;
          transition: all .4s cubic-bezier(0.42, 0, 0.58, 1);
        }

        &:hover:before{
          background: #19bd9a;
        }
      }
      .active__btn:before{
                    background: #19bd9a !important;

      }
    }

    .size {
       width: 23%;
    }

    .blocks {
      &__img {
        width: 23%;
        margin-bottom: 7px;
      }
    }
  }
}
